* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 120, 245);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 104, 153);
}

.body {
  width: 85%;
}

.app-logo {
  width: 150px;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .app-logo {
    width: 180px;
  }
}
